apipkg==1.5
appdirs==1.4.4
asgiref==3.2.10
attrs==19.3.0
Babel==2.8.0
backcall==0.2.0
beautifulsoup4==4.8.2
bleach==2.1.4
bokeh==2.1.1
boto==2.49.0
boto3==1.14.37
botocore==1.17.37
bs4==0.0.1
cairocffi==1.1.0
CairoSVG==2.4.2
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
colorama==0.4.3
colorlog==4.2.1
convertdate==2.2.1
coverage==5.0.4
cryptography==2.9.2
cssselect2==0.3.0
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.0
django-allauth==0.42.0
django-analytical==2.6.0
django-braces==1.14.0
django-cogwheels==0.3
django-colorful==1.3
django-comments-xtd==2.6.2
django-contrib-comments==1.9.2
django-countries==6.1.2
django-el-pagination==3.3.0
django-environ==0.4.5
django-etc==1.2.0
django-extensions==3.0.3
django-extra-views==0.13.0
django-heroku==0.3.1
django-ipware==1.1.2
django-js-asset==1.2.2
django-markwhat==1.6.2
django-model-utils==4.0.0
django-modelcluster==5.0.2
django-pagination-py3==1.1.2
django-phonenumber-field==3.0.1
django-planet==0.10.1
django-ranged-response==0.2.0
django-ratelimit==3.0.1
django-recaptcha==2.0.6
django-redis==4.12.1
django-rest-framework==0.1.0
django-simple-captcha==0.5.12
django-social-share==1.4.0
django-tables2==2.2.1
django-tagging==0.3.6
django-taggit==1.3.0
django-tellme==0.6.5
django-timezone-field==4.0
django-toolbelt==0.0.1
django-treebeard==4.3.1
django-webtest==1.9.7
djangorestframework==3.11.0
docopt==0.6.2
docutils==0.15.2
draftjs-exporter==2.1.7
easy-thumbnails==2.7
execnet==1.7.1
Faker==4.1.1
feedgen==0.9.0
feedparser==5.2.1
filebrowser-safe==0.5.0
filelock==3.0.12
flake8==3.8.3
flake8-blind-except==0.1.1
flake8-debugger==3.2.1
freezegun==0.3.15
fs==2.4.11
future==0.18.2
grappelli-safe==0.5.2
gunicorn==20.0.4
gunicorn-color==0.1.0
holidays==0.10.3
html5lib==1.1
httplib2==0.18.1
icalendar==4.0.6
idna==2.10
importlib-metadata==1.7.0
importlib-resources==3.0.0
iniconfig==1.0.1
ipdb==0.13.3
ipython==7.16.1
ipython-genutils==0.2.0
isort==5.2.0
jawanndenn==2.4.3
jedi==0.17.2
Jinja2==2.11.2
jmespath==0.10.0
keyring==5.7.1
korean-lunar-calendar==0.2.1
l18n==2018.5
lml==0.0.9
ls.joyous==1.2.0
lxml==4.5.2
Markdown==2.6.11
markdown2==2.3.9
MarkupSafe==1.1.1
mccabe==0.6.1
Mezzanine==4.3.1
mock==4.0.2
more-itertools==8.4.0
num2words==0.5.10
numpy==1.19.0
oauth2client==4.1.3
oauthlib==3.1.0
odfpy==1.3.5
packaging==20.4
parso==0.7.1
pexpect==4.8.0
phonenumbers==8.12.7
pickleshare==0.7.5
Pillow==7.2.0
pinax-badges==3.0.0
pinax-ratings==4.0.0
pluggy==0.13.1
prompt-toolkit==3.0.5
psycopg2==2.8.5
psycopg2-binary==2.8.5
ptyprocess==0.6.0
puput==1.1.1
purl==1.5
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycountry==20.7.3
pycparser==2.20
pyexcel-io==0.5.20
pyexcel-ods==0.5.3
pyflakes==2.2.0
Pygments==2.6.1
PyMeeus==0.3.7
pyparsing==2.4.7
PyPDF2==1.26.0
pyprof2calltree==1.4.5
pysolr==3.8.1
pytest==6.0.1
pytest-django==3.7.0
pytest-forked==1.3.0
pytest-xdist==1.31.0
python-dateutil==2.8.1
python3-openid==3.2.0
pytz==2020.1
PyYAML==5.3.1
redis==3.5.3
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
s3transfer==0.3.3
six==1.15.0
sorl-thumbnail==12.6.3
soupsieve==2.0.1
sqlparse==0.3.1
static3==0.7.0
stripe==2.49.0
swapper==1.1.2.post1
tapioca-disqus==0.1.2
tapioca-wrapper==0.5.3
termcolor==1.1.0
text-unidecode==1.3
tinycss2==1.0.2
toml==0.10.1
tornado==6.0.4
tox==3.14.6
tqdm==4.48.0
traitlets==4.3.3
typing-extensions==3.7.4.2
tzlocal==2.1
Unidecode==1.1.1
urllib3==1.25.9
uWSGI==2.0.19.1
virtualenv==20.0.29
wagalytics==1.2
wagtail==2.9
wagtail-autocomplete==0.6
wagtail-blog==2.3.5
wagtail-contact-reply==0.1.0
wagtail-django-recaptcha==1.0
wagtail-django-simple-captcha==1.0
wagtail-markdown==0.6
wagtail-opengraph-image-generator==1.1
wagtailaltgenerator==4.1.2
wagtailfontawesome==1.2.1
wagtailgeowidget==5.0.2
wagtailgmaps==1.0.1
wagtailleafletwidget==1.0.1
wagtailmenus==3.0.2
wagtailnews==2.7.1
wagtailstreamforms==3.10
waitress==1.4.4
wcwidth==0.2.5
webencodings==0.5.1
WebOb==1.8.6
WebTest==2.0.35
Werkzeug==1.0.1
whitenoise==5.1.0
Whoosh==2.7.4
Willow==1.3
XlsxWriter==1.2.9
zipp==3.1.0
