{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags  comments %}
<!--comments comments_xtd widget_tweaks static-->
{% block body_class %}template-blogpage{% endblock %}
{% load social_share %}

{% block content %}
<div class="container">
    <div class="text-center">
        <h1>{{ page.title }}</h1>
        film country: {{ page.country.name }}
        <i class="flag4x {{ page.country.flag_css }}"><img src="{{ page.country.flag }}" alt="img"></i>
    <p class="meta">posted at {{ page.date }} by {{ page.owner }}</p>

    {% with categories=page.categories.all %}
        {% if categories %}
            <h3>Genre</h3>
            <ul>
                {% for category in categories %}
                    <li style="display:inline">
                        {% image category.icon fill-32x32 style="vertical-align:middle" %}
                        <a href="{{ self.get_parent.url }}?category={{ category.slug }}">{{ category.name }}</a>
                    </li>
                {%endfor%}
            </ul>
        {% endif %}
    {% endwith %}

    <div class="intro">{{ page.intro }}</div>

    {{ page.body|richtext }}
<div id="carouselExampleControls" class="carousel slide mb-4" data-ride="carousel">
          <div class="carousel-inner">
            {% for loop_cycle in page.gallery_images.all %}
                {% image loop_cycle.image fill-800x400 as img %}

            <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                <img src="{{ img.url }}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ loop_cycle.caption }}</h5>
                  </div>
            </div>
                  <div class="carousel-caption d-none d-md-block">
                  </div>
              {% endfor %}
          </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    {% if page.sequel %}
        <div class="mb-5">
            <p class="text-danger ">Sequel: </p>
            {% for block in page.sequel %}
<!--        {{ block.count }} #todo-->
            {% include_block block %}
            {% endfor %}
       </div>
    {% endif %}



    {% for author in self.post_author.all %}
    {% image author.author.image fill-100x100 as img %}
        <div class="card text-center" style="width: 18rem; ">
            <a href="{{ author.author.website }}" target="_blank">
                <img src="{{ img.url }}" class="card-img-top" title="{{ author.author.name }}">
            </a>
          <div class="card-body">
            <p class="card-text">
                posted by: {{ author.author.name }}, You can connect with on
                <a href="{{ author.author.website }}" target="_blank">
                    linkedin
                </a>
            </p>
          </div>
        </div>
             {% endfor %}

    {% if page.tags.all.count %}
        <div class="tags">
            <h3>Tags</h3>
            {% for tag in page.tags.all %}
                <h3 style="display: inline-block;" ><a href="{% slugurl 'tags' %}?tag={{ tag }}"><span class="badge badge-danger">#{{ tag }}</span></a></h3>

            {% endfor %}
        </div>
    {% endif %}


<!--{% post_to_linkedin page.title page "Post to LinkedIn" %}-->
<!--<br><br><br><br>-->
        <h3>share this post to:</h3>
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item">{% post_to_twitter "New Song: {{page.title}}. Check it out!" page "Post to Twitter" %}</li>
          <li class="list-group-item">{% send_email page.title "New Song: {{page.title}}. Check it out!" page "Share via email" %}</li>
          <li class="list-group-item">{% post_to_reddit "New Song: {{page.title}}" page %}</li>
          <li class="list-group-item">{% post_to_telegram "New Song: {{page.title}}" page %}</li>
          <li class="list-group-item">{% post_to_whatsapp page "Share via WhatsApp" %}</li>
        </ul>
    </div>
    <h2>Comments for {{ blogpage.title }}:</h2>
    {% get_comment_count for page as comment_count %}

<p> {{ comment_count }} comments.</p>

        <div class="container-fluid mt-4 comment-form">
            {% render_comment_form for page %}
        </div>
        {% get_comment_count for page as comment_count %}
        {% if comment_count %}
            <hr>
            <div class="container-fluid mt-4 media-list">
                {% render_comment_list for page  %}

            </div>
        {% endif %}

    <div>
        <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>
    </div>

</div>

{% endblock %}
