{% extends 'base.html' %}
{% load wagtailcore_tags %}
{% block content %}
    <h1>{{ self.title }}</h1>
    <h3>{{ self.intro|richtext }}</h3>
    <form action="{% pageurl page %}" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.source.errors }}
    {{ form.source }}
  <fieldset>
    <div class="form-group">

      <label for="{{ form.name.id_for_label }}" >{{ form.name.label_tag }}</label>
      <div class="col-sm-10">
        <input type="text"  class="form-control" id="{{ form.name.id_for_label }}" name="{{ form.name.name }}"
         maxlength="{{ form.name.field.max_length }}"
       {% if form.name.field.required %}required{% endif %}
        {% if form.name.value != None %}value="{{ form.name.value|stringformat:'s' }}"{% endif %}>
        {{ form.name.errors }}
      </div>
    </div>

          <div class="form-group">
      <label for="{{ form.email.id_for_label }}" >{{ form.email.label_tag }}</label>
      <div class="col-sm-10">
        <input type="email"  class="form-control" id="{{ form.email.id_for_label }}" name="{{ form.email.name }}"
         maxlength="{{ form.email.field.max_length }}"
       {% if form.email.field.required %}required{% endif %}
        {% if form.email.value != None %}value="{{ form.email.value|stringformat:'s' }}"{% endif %}>
    {{ form.email.errors }}
      </div>

    </div>

      <div class="form-group">
      <label for="{{ form.message.id_for_label }}" >{{ form.message.label_tag }}</label>

      <div class="col-sm-10">
        <textarea type="textarea"
                  class="form-control" id="{{ form.message.id_for_label }}" name="{{ form.message.name }}"
         maxlength="{{ form.message.field.max_length }}"
         rows="{{ form.message.field.rows }}" cols="{{ form.message.field.cols }}"
         {% if form.message.field.required %}required{% endif %}
                  {% if form.message.value != None %}value="{{ form.message.value|stringformat:'s' }}"{% endif %}></textarea>
         <small id="messageHelp" class="form-text text-muted">{{ form.message.help_text }}</small>
          {{ form.message.errors }}
       </div>
      </div>

  </fieldset>
        <button type="submit" class="btn btn-danger">Submit</button>
</form>

{% endblock %}